body {
    background-color: black;
    color: rgba(255, 255, 255, 0.658);
    font-family: sans-serif;
}

.nav {
    height: 60px;
    align-items: center;
    cursor: pointer;
}

/* left logo */

.leftlogo {
    width: 25vw;
}

.leftlogo ul {
    display: flex;
    gap: 10px;
    padding-left: 15px;
}

.leftlogo ul li {
    display: flex;
}

#netflixlogo {
    width: 35px;
    padding-right: 20px;
}

.logos {
    width: 22px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.153);
}

/* right logo */
.rightlogo {
    width: 75vw;
    justify-content: flex-end;

}

.rightlogo ul {
    display: flex;
    gap: 15px;
    align-items: center;

}

.rightlogo ul li {
    display: flex;
    font-weight: 700;

}

.rightlogo .small {
    font-size: 14px;
    padding: 15px;

}

.rightlogo ul li:hover {
    transition: all 0.1s ease;
    /* color: white; */
}

#login {
    padding: 15px 30px;
    color: black;
    border-radius: 30px;
    background-color: white;

}

/* This will make the black color image white */
.invert {
    filter: invert(1);
}

.left {
    width: 29vw;
    background-color: rgba(24, 24, 24, 0.844);
}

.right {
    width: 79vw;
   background-color: rgba(28, 28, 28, 0.694);
}

/* left side heading */
.heading {
    justify-content: space-between;
    padding: 0 23px;
    color: white;
    font-size: small;
}
.heading .plus{
   font-size: 20px;
   color: rgba(255, 255, 255, 0.658)
}


/* library section */

.playlist p:nth-child(3){
    padding: 8px;
    width: 105px;
    border-radius: 30px;
    margin-top: 20px;
    background-color: white;
    color: black;
    font-weight: bold; 
    font-size: 14px;
    display: flex; 
    justify-content: center;
}
.podcasts p:nth-child(3){
    padding: 8px;
    width: 130px;
    border-radius: 30px;
    margin-top: 20px;
    background-color: white;
    color: black;
    font-weight: bold; 
    font-size: 14px;
    display: flex; 
    justify-content: center; 
}

/* left side last part */
.for-margin{
    margin-top: 95px;
}
.last ul{
    display: flex;
    font-size: 12px;
    gap: 15px;
    padding-left: 20px;
    max-height: 5px;
    flex-wrap: wrap;
    
}
.last ul li{
    display: flex;
    cursor: pointer;

}
.last .cookies{
    color: white;
    font-size: 13px;
   

}

/* Language */

.language{
     font-size: 13px;
     margin-left: 20px;
     margin-top: 30px;
}
.language h4{
    border: 1px solid white;
    padding: 8px;
    width: 80px;
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.language h4 img{
    width: 15px;
    padding-left: 5px;
    
    
}

/* Spotify playlist Trending songs */
.spotifyPlaylist{
    padding: 30px 35px;
    margin-top: 10px;

}
.spotifyPlaylist h1{
    color: white;
}

/* Card container */
.cardContainer{
    display: flex;
    gap: 5px;
    margin-top: 30px;
    flex-wrap: wrap;
}

/* Designing card */
.card{
    width: 230px;
    border: 2px solid rgba(128, 128, 128, 0.669);
    border-radius: 7px;
    position: relative;
    transition: all ease;
    cursor: pointer;

}

.card:hover{
   background-color: rgba(32, 31, 31, 0.715);
   /* This is the hover inside the hover */
   .play{
    opacity: 1;
    bottom: 122px;
}

}
.card h4{
    color: white;
}

.card > *{
    padding-left: 20px;
}

.card img{
    width: 90%;
    object-fit: contain;
    padding: 12px;
    border-radius: 16px;
    padding-bottom: 0px;
}


.card .play{
    position: absolute;
    bottom: 90px;
    right: 20px;
    transition: all 0.3s ease;
    opacity: 0;
}




