.border{
    border: 2px solid red;
    /* margin: 2px; */
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.library-content{
    margin: 20px 10px;
    border-radius: 8px;
    padding: 2px 14px;
    color: white;
    background-color: rgb(32, 31, 31);
    font-size: 15px;  
}


/* Dark Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111; /* dark track */
}

::-webkit-scrollbar-thumb {
  background: #333; /* thumb color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* hover color */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #111;
}
